@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  background-image: url("./../images/background-pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
